In [199]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import OneHotEncoder
from utils import *

In [200]:
aqi = pd.read_csv('bj_aqi.csv',encoding = 'gb2312')
mete = pd.read_csv('bj_mete.csv',encoding = 'gb2312')
station = pd.read_csv('bj_station.csv',encoding = 'gb2312')
wf = pd.read_csv('bj_wf.csv',encoding = 'gb2312')

In [201]:
aqi.head()

,station_id,time,PM25_Concentration,PM10_Concentration,NO2_Concentration,CO_Concentration,O3_Concentration,SO2_Concentration
0,1001,2014-05-01 00:00:00,138.0,159.4,56.3,0.9,50.8,17.2
1,1001,2014-05-01 01:00:00,124.0,163.9,38.7,0.9,51.1,17.9
2,1001,2014-05-01 02:00:00,127.0,148.4,55.6,1.0,27.2,16.6
3,1001,2014-05-01 03:00:00,129.0,145.6,65.7,1.0,9.7,16.7
4,1001,2014-05-01 04:00:00,119.0,119.3,66.9,1.0,2.0,16.5

In [202]:
mete.head()

,id,time,weather,temperature,pressure,humidity,wind_speed,wind_direction
0,1,2014-05-01 02:00:00,NaN,18.0,755.9,71.0,2.0,23.0
1,1,2014-05-01 05:00:00,NaN,16.8,755.8,78.0,1.0,13.0
2,1,2014-05-01 08:00:00,NaN,19.0,756.9,72.0,2.0,23.0
3,1,2014-05-01 11:00:00,NaN,24.5,756.1,57.0,4.0,23.0
4,1,2014-05-01 14:00:00,NaN,26.7,753.9,44.0,5.0,3.0

In [203]:
# mete[mete['temperature'].isnull()]

In [204]:
temp_scaler = MinMaxScaler(min = mete['temperature'].min(), max = mete['temperature'].max())
mete['temperature'] = temp_scaler.transform(mete['temperature'])

In [205]:
mete.head()
# mete.iloc[115586,]

,id,time,weather,temperature,pressure,humidity,wind_speed,wind_direction
0,1,2014-05-01 02:00:00,NaN,0.596491,755.9,71.0,2.0,23.0
1,1,2014-05-01 05:00:00,NaN,0.575439,755.8,78.0,1.0,13.0
2,1,2014-05-01 08:00:00,NaN,0.614035,756.9,72.0,2.0,23.0
3,1,2014-05-01 11:00:00,NaN,0.710526,756.1,57.0,4.0,23.0
4,1,2014-05-01 14:00:00,NaN,0.749123,753.9,44.0,5.0,3.0

In [206]:
mete['temperature'].fillna(0,inplace = True) ## fill nan with 0

In [207]:
press_scaler = MinMaxScaler(min = mete['pressure'].min(),max = mete['pressure'].max())
mete['pressure'] = press_scaler.transform(mete['pressure'])

In [208]:
mete['pressure'].fillna(0,inplace = True) ## fill nan with 0
mete.head()

,id,time,weather,temperature,pressure,humidity,wind_speed,wind_direction
0,1,2014-05-01 02:00:00,NaN,0.596491,0.034896,71.0,2.0,23.0
1,1,2014-05-01 05:00:00,NaN,0.575439,0.034554,78.0,1.0,13.0
2,1,2014-05-01 08:00:00,NaN,0.614035,0.038317,72.0,2.0,23.0
3,1,2014-05-01 11:00:00,NaN,0.710526,0.035580,57.0,4.0,23.0
4,1,2014-05-01 14:00:00,NaN,0.749123,0.028053,44.0,5.0,3.0

In [209]:
hum_scaler = MinMaxScaler(min = mete['humidity'].min(),max = mete['humidity'].max())
mete['humidity'] = hum_scaler.transform(mete['humidity'])

In [210]:
mete['humidity'].fillna(0,inplace = True) ## fill nan with 0
mete.head()

,id,time,weather,temperature,pressure,humidity,wind_speed,wind_direction
0,1,2014-05-01 02:00:00,NaN,0.596491,0.034896,0.71,2.0,23.0
1,1,2014-05-01 05:00:00,NaN,0.575439,0.034554,0.78,1.0,13.0
2,1,2014-05-01 08:00:00,NaN,0.614035,0.038317,0.72,2.0,23.0
3,1,2014-05-01 11:00:00,NaN,0.710526,0.035580,0.57,4.0,23.0
4,1,2014-05-01 14:00:00,NaN,0.749123,0.028053,0.44,5.0,3.0

In [211]:
wind_scaler = MinMaxScaler(min = mete['wind_speed'].min(),max = mete['wind_speed'].max())
mete['wind_speed'] = wind_scaler.transform(mete['wind_speed'])

In [212]:
mete['wind_speed'].fillna(0,inplace = True) ## fill nan with 0
mete['time'].tail()

116862    2015-04-30 18:00:00
116863    2015-04-30 19:00:00
116864    2015-04-30 20:00:00
116865    2015-04-30 22:00:00
116866    2015-04-30 23:00:00
Name: time, dtype: object

In [213]:
# np.unique(mete[mete['weather'].isnull()!=True]['weather'])

In [214]:
mete = pd.concat([pd.get_dummies(mete['weather'],prefix = 'weather'),mete.drop(['weather'],axis = 1)], axis = 1)

In [215]:
mete = pd.concat([mete.drop(['wind_direction'],axis = 1),pd.get_dummies(mete['wind_direction'],prefix = 'wind_direction')], axis = 1)

In [216]:
mete.to_csv('bj_mete_norm.csv',index = False,encoding = 'utf-8')

In [217]:
mete.columns

Index(['weather_0.0', 'weather_1.0', 'weather_2.0', 'weather_3.0',
       'weather_4.0', 'weather_5.0', 'weather_6.0', 'weather_7.0',
       'weather_8.0', 'weather_9.0', 'weather_10.0', 'weather_11.0',
       'weather_12.0', 'weather_13.0', 'weather_14.0', 'weather_15.0',
       'weather_16.0', 'id', 'time', 'temperature', 'pressure', 'humidity',
       'wind_speed', 'wind_direction_0.0', 'wind_direction_1.0',
       'wind_direction_2.0', 'wind_direction_3.0', 'wind_direction_4.0',
       'wind_direction_9.0', 'wind_direction_13.0', 'wind_direction_14.0',
       'wind_direction_23.0', 'wind_direction_24.0'],
      dtype='object')

########################

In [218]:
### 距离和角度
station

,station_id,name_chinese,name_english,latitude,longitude,district_id
0,1001,海淀北部新区,HaiDianBeiBuXinQu,40.090679,116.173553,101
1,1002,海淀北京植物园,HaiDianBeiJingZhiWuYuan,40.003950,116.205310,101
2,1003,石景山古城,ShiJingShanGuCheng,39.914409,116.184239,102
3,1004,丰台云岗,FengTaiYunGang,39.815128,116.171150,103
4,1005,房山良乡,FangShanLiangXiang,39.742767,116.136045,104
5,1006,海淀万柳,HaiDianWanLiu,39.987313,116.287451,101
6,1007,朝阳奥体中心,ChaoYangAoTiZhongXin,39.982053,116.397400,105
7,1008,西直门北大街,XiZhiMenBeiDaJie,39.954047,116.348991,101
8,1009,西城万寿西宫,XiChengWanShouXiGong,39.878193,116.351974,106
9,1010,永定门内大街,YongDingMenNeiDaJie,39.876184,116.394009,103
10,1011,南三环西路,NanSanHuanXiLu,39.855958,116.367810,103
11,1012,朝阳农展馆,ChaoYangNongZhanGuan,39.937119,116.460742,105
12,1013,东城东四,DongChengDongSi,39.929287,116.416883,107
13,1014,东四环北路,DongSiHuanBeiLu,39.939554,116.483746,105
14,1015,西城官园,XiChengGuanYuan,39.929302,116.351029,106
15,1016,丰台花园,FengTaiHuaYuan,39.863470,116.279082,103
16,1017,大兴黄村镇,DaXingHuangCunZhen,39.718147,116.406155,108
17,1018,亦庄开发区,YiZhuangKaiFaQu,39.794491,116.506319,108
18,1019,通州新城,TongZhouXinCheng,39.885241,116.664162,109
19,1020,东城天坛,DongChengTianTan,39.886491,116.407355,107
20,1021,前门东大街,QianMenDongDaJie,39.899135,116.395383,107
21,1022,北京美国大使馆,BeiJingMeiGuoDaShiGuan,39.920993,116.443448,105
22,1023,顺义新城,ShunYiXinCheng,40.127000,116.655000,110
23,1024,昌平镇,ChangPingZhen,40.216999,116.230000,111
24,1025,门头沟龙泉镇,MenTouGouLongQuanZhen,39.936999,116.105999,112
25,1026,平谷镇,PingGuZhen,40.143000,117.099999,113
26,1027,怀柔镇,HuaiRouZhen,40.328000,116.628000,114
27,1028,密云镇,MiYunZhen,40.369999,116.831999,115
28,1029,延庆镇,YanQingZhen,40.453000,115.971999,116
29,1030,昌平定陵,ChangPingDingLing,40.292000,116.220000,111
30,1031,京西北八达岭,JingXiBeiBaDaLing,40.365000,115.988000,116
31,1032,京东北密云水库,JingDongBeiMiYunShuiKu,40.499000,116.911000,115
32,1033,京东东高村,JingDongDongGaoCun,40.100000,117.120000,113
33,1034,京东南永乐店,JingDongNanYongLeDian,39.712000,116.783000,109
34,1035,京南榆垡,JingNanYu,39.520000,116.300000,108
35,1036,京西南琉璃河,JingXiNanLiuLiHe,39.579999,116.000000,104

In [219]:
## get distance between any two stations
dist = np.zeros((len(station),len(station)))
angle = np.zeros((len(station),len(station)))
tmp_dist = []
tmp_angle = []
for i, loc1 in enumerate(zip(station['latitude'],station['longitude'])):
    for j, loc2 in enumerate(zip(station['latitude'],station['longitude'])):
        if i != j:
            tmp_dist.append(getDistance(loc1[1],loc1[0],loc2[1],loc2[0]))
            tmp_angle.append(getAngle(loc1[0],loc1[1],loc2[0],loc2[1]))
            tmp_angle.append(getAngle(loc2[0],loc2[1],loc1[0],loc1[1]))

In [220]:
### do scaler
tmp_dist = np.array(tmp_dist)
tmp_angle = np.array(tmp_angle)
dist_scaler = MinMaxScaler(min = np.min(tmp_dist),max = np.max(tmp_dist))
angle_scaler = MinMaxScaler(min = np.min(tmp_angle),max = np.max(tmp_angle))
tmp_dist = dist_scaler.transform(tmp_dist)
tmp_angle = angle_scaler.transform(tmp_angle)

In [221]:
tmp_dist

array([0.06631407, 0.14214969, 0.22914183, ..., 0.86944182, 0.52904279,
       0.19702842])

In [222]:
## copy tmp_dist/tmp_angle to dist/angle
index = 0
for i in range(len(station)):
    for j in range(len(station)):
        if i != j:
            dist[i][j] = tmp_dist[index]
            angle[i][j] = tmp_angle[index]
            index += 1

In [223]:
pd.DataFrame(dist).to_csv('dist.csv')
pd.DataFrame(angle).to_csv('angle.csv')

In [224]:
### build index for station_id
station2district = dict()
for station_id, district_id in zip(station['station_id'],station['district_id']):
    station2district[station_id] = district_id

In [225]:
station2district

{1001: 101,
 1002: 101,
 1003: 102,
 1004: 103,
 1005: 104,
 1006: 101,
 1007: 105,
 1008: 101,
 1009: 106,
 1010: 103,
 1011: 103,
 1012: 105,
 1013: 107,
 1014: 105,
 1015: 106,
 1016: 103,
 1017: 108,
 1018: 108,
 1019: 109,
 1020: 107,
 1021: 107,
 1022: 105,
 1023: 110,
 1024: 111,
 1025: 112,
 1026: 113,
 1027: 114,
 1028: 115,
 1029: 116,
 1030: 111,
 1031: 116,
 1032: 115,
 1033: 113,
 1034: 109,
 1035: 108,
 1036: 104}

In [226]:
date = pd.date_range('20140501','20150501',freq = 'H')
date = np.array(date.format())
date = date[:-1]

In [228]:
for key,value in station2district.items():
    save_frame = mete[mete['id'] == value]
    time = np.array(save_frame['time'])
    date_index = 0;time_index = 0
    while time_index < len(time) and date_index < len(date):
        if time[time_index] != date[date_index]:
            tmp_frame = pd.DataFrame([date[date_index]],columns = ['time'])
            save_frame = pd.concat([save_frame,tmp_frame],ignore_index = True,axis = 0)
            date_index += 1
        else:
            date_index += 1
            time_index += 1
#         print('hello world')
    print(save_frame.shape, '--- ',key)
    save_frame.fillna(0,inplace = True)
    save_frame = save_frame.sort_values(by = 'time')
    save_frame = save_frame.iloc[:-1]
    save_frame.to_csv('mete_' + str(key) + '_norm.csv',index = False,encoding = 'gb2312')

/Users/icdi/Desktop/py_ws/venv/lib/python3.5/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

(8760, 33) ---  1024
(8760, 33) ---  1025
(8760, 33) ---  1026
(8760, 33) ---  1027
(8760, 33) ---  1028
(8760, 33) ---  1029
(8760, 33) ---  1030
(8760, 33) ---  1031
(8760, 33) ---  1032
(8760, 33) ---  1033
(8760, 33) ---  1034
(8760, 33) ---  1035
(8760, 33) ---  1036
(8760, 33) ---  1001
(8760, 33) ---  1002
(8760, 33) ---  1003
(8760, 33) ---  1004
(8760, 33) ---  1005
(8760, 33) ---  1006
(8760, 33) ---  1007
(8760, 33) ---  1008
(3187, 33) ---  1009
(8760, 33) ---  1010
(8760, 33) ---  1011
(8760, 33) ---  1012
(3187, 33) ---  1013
(8760, 33) ---  1014
(3187, 33) ---  1015
(8760, 33) ---  1016
(8760, 33) ---  1017
(8760, 33) ---  1018
(8760, 33) ---  1019
(3187, 33) ---  1020
(3187, 33) ---  1021
(8760, 33) ---  1022
(8760, 33) ---  1023

In [ ]:
mete[mete.isnull().values==True]

In [180]:
for key,value in station2district.items():
    save_frame = aqi[aqi['station_id'] == key]
    time = np.array(save_frame['time'])
    date_index = 0;time_index = 0
    while time_index < len(time) and date_index < len(date):
        if time[time_index] != date[date_index]:
            tmp_frame = pd.DataFrame([date[date_index]],columns = ['time'])
            save_frame = pd.concat([save_frame,tmp_frame],ignore_index = True,axis = 0)
            date_index += 1
        else:
            date_index += 1
            time_index += 1
    save_frame = save_frame.sort_values(by = 'time')
    save_frame.to_csv('aqi_' + str(key) + '.csv',index = False,encoding = 'gb2312')

/Users/icdi/Desktop/py_ws/venv/lib/python3.5/site-packages/ipykernel_launcher.py:8: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

![problem](img/problem.png)

![adain](img/adain.png)

- 静态特征用其周围<b>2km</b>的特征来表示。

In [240]:
import numpy as np
a = np.array([[1], [2]])
b = np.array([[3], [4]])
np.kron(a, b)
np.outer(a, b)
# np.kron(a, b.T)

array([[3, 4],
       [6, 8]])